<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NewPower.MyApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
	<supports-screens 
	    android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:resizeable="true" 
	    android:anyDensity="true"/>
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
	<permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>  
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>  
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_GPS"/>
	<uses-permission android:name="android.permission.VIBRATE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" android:name="com.NewPower.Aviary.MainApplication">
        
        <activity
            android:name="com.NewPower.MyApp.FirstView"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.NewPower.Aviary.AviaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/BaseTheme.Impl" >
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme.Custom"
            android:process=":standalone" />
        
        <activity 
            android:name="com.NewPower.Aviary.ImageInfoActivity"
            android:label="@string/image_details"
            android:noHistory="true"
            android:launchMode="singleTop"
            android:theme="@style/AviaryTheme.Custom.Dialog" />        

        <receiver
            android:name="com.aviary.android.feather.library.receivers.AviarySystemReceiver"
            android:exported="true"
            android:process=":aviary_sample_system_receiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>            
        </receiver>
        
        <provider 
            android:name="com.aviary.android.feather.library.providers.FeatherContentProvider"
            android:exported="false"
            android:authorities="com.xfu.NewPower.aviary.launcher.HiResProvider"
            android:process=":standalone">
        </provider>
        <activity android:name="com.NewPower.ImageUpload.ImageSearch" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.NewPower.MyApp.SlidingDrawerActivity"></activity>
        <activity android:name="com.NewPower.MyApp.Share_Activity"></activity>
        <activity android:name="com.NewPower.MyApp.MainActivity"></activity>
        <activity android:name="com.NewPower.Shake.ShakeAndShake" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.NewPower.SwichView.ImageDownload" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.NewPower.MyApp.SecondActivity"></activity>
        <activity android:name="com.NewPower.MyApp.FourthActivity"></activity>
        <activity android:name="com.NewPower.MyApp.AboutUsView" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.NewPower.MyApp.Map_Activity" android:label="@string/app_name" android:screenOrientation="sensor"  android:configChanges="orientation|keyboardHidden"></activity>
		<activity android:name="com.NewPower.Browser.BrowserView" android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" ></activity>
		
        <uses-library android:name="com.google.android.maps"/>
        
        <service 
            android:name="com.baidu.location.f" 
            android:enabled="true"
            android:process=":remote"/>
    </application>
</manifest>
